@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Source+Sans+Pro%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C600%3B0%2C700&family=Merriweather%3Aital%2Cwght%400%2C300%3B0%2C400%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-Wnz4liWSA-Q2: 24px;
  --plasmic-token-headline-line-height-xxs: var(--token-Wnz4liWSA-Q2);
  --token-IEaaqAmQWwPy: 64px;
  --plasmic-token-headline-line-height-xxl: var(--token-IEaaqAmQWwPy);
  --token-quJlECwrNQE-: #3c7d0e;
  --plasmic-token-theme-list-item-icon-brand-secondary-color: var(
    --token-quJlECwrNQE-
  );
  --token-r9Xb_8LKGyb4: var(--token-lTsD1Bed3Eq2);
  --plasmic-token-theme-list-item-icon-brand-primary-color: var(
    --token-r9Xb_8LKGyb4
  );
  --token-2aBd0rKWwcQo: var(--token-ST1_z4jLZPXZ);
  --plasmic-token-theme-list-item-icon-brand-standard-color: var(
    --token-2aBd0rKWwcQo
  );
  --token-xvJQu6cSl0ym: var(--token-T2sZrPNW1TxX);
  --plasmic-token-theme-list-item-text-brand-primary-color: var(
    --token-xvJQu6cSl0ym
  );
  --token-FEe2H2xf-m39: var(--token-d9smXCDRWnmL);
  --plasmic-token-theme-list-item-text-brand-secondary-color: var(
    --token-FEe2H2xf-m39
  );
  --token-C6JxhhPkAXWA: var(--token-EwkVxWJA_hn-);
  --plasmic-token-theme-icon-interaction-default-brand-primary-color: var(
    --token-C6JxhhPkAXWA
  );
  --token-f5AJ_-jl2MIl: var(--token-DVrm_PHLCd9Z);
  --plasmic-token-theme-icon-interaction-default-brand-secondary-color: var(
    --token-f5AJ_-jl2MIl
  );
  --token-KLIMGRf2aQ2n: var(--token-d9smXCDRWnmL);
  --plasmic-token-theme-button-bold-default-background-secondary-color: var(
    --token-KLIMGRf2aQ2n
  );
  --token-dapcJ-MUc2UZ: var(--token-lTsD1Bed3Eq2);
  --plasmic-token-theme-button-bold-default-background-primary-color: var(
    --token-dapcJ-MUc2UZ
  );
  --token-iB3PLzYPTxR0: var(--token-EwkVxWJA_hn-);
  --plasmic-token-theme-button-subtle-default-border-primary-color: var(
    --token-iB3PLzYPTxR0
  );
  --token-wQbJGYzjvzVA: var(--token-DVrm_PHLCd9Z);
  --plasmic-token-theme-button-subtle-default-border-secondary-color: var(
    --token-wQbJGYzjvzVA
  );
  --token-N7IN3RLDPC4V: var(--token-EwkVxWJA_hn-);
  --plasmic-token-theme-button-non-bold-default-icon-primary-color: var(
    --token-N7IN3RLDPC4V
  );
  --token-joXVulKQ8YAH: var(--token-DVrm_PHLCd9Z);
  --plasmic-token-theme-button-non-bold-default-icon-secondary-color: var(
    --token-joXVulKQ8YAH
  );
  --token-YVS9FCc2XXB_: var(--token-EwkVxWJA_hn-);
  --plasmic-token-theme-button-non-bold-default-text-primary-color: var(
    --token-YVS9FCc2XXB_
  );
  --token-VtrtVYs28fpg: var(--token-8_fpPlLEEFWR);
  --plasmic-token-theme-button-non-bold-default-text-secondary-color: var(
    --token-VtrtVYs28fpg
  );
  --token-IMymOsR8-aQK: var(--token-lTsD1Bed3Eq2);
  --plasmic-token-theme-switch-color-handle-surface-on-action: var(
    --token-IMymOsR8-aQK
  );
  --token-PiiUkC3U4i9l: var(--token-0tw00joc-zOm);
  --plasmic-token-theme-color-badge-status-error: var(--token-PiiUkC3U4i9l);
  --token-7V1LFAn5SKJz: var(--token-TVHRBudcTFqL);
  --plasmic-token-theme-color-universal-accent-lvl-01: var(
    --token-7V1LFAn5SKJz
  );
  --token-3bnOqIQm07CH: var(--token-inTqZxo4BXWT);
  --plasmic-token-theme-color-universal-accent-lvl-02: var(
    --token-3bnOqIQm07CH
  );
  --token-TzbBSWcN3o-x: var(--token-j-tQjlkdA-E-);
  --plasmic-token-theme-color-universal-accent-lvl-03: var(
    --token-TzbBSWcN3o-x
  );
  --token-slAbZq7z3Cvd: var(--token-GdEbztdmnHii);
  --plasmic-token-theme-color-universal-accent-lvl-04: var(
    --token-slAbZq7z3Cvd
  );
  --token-Ef1ZembKsehC: var(--token-TygQtT3Ehj1d);
  --plasmic-token-theme-color-universal-accent-lvl-05: var(
    --token-Ef1ZembKsehC
  );
  --token-HDP4w_oUbNf1: var(--token-gtT-HGoP_yYz);
  --plasmic-token-theme-color-universal-accent-lvl-06: var(
    --token-HDP4w_oUbNf1
  );
  --token-fgNsBtXv8vej: var(--token-5ZS3VskDJfKc);
  --plasmic-token-theme-color-universal-accent-lvl-08: var(
    --token-fgNsBtXv8vej
  );
  --token-Qqi5iAP4N3dt: var(--token-UVRM5XWfkrfp);
  --plasmic-token-theme-color-universal-accent-lvl-09: var(
    --token-Qqi5iAP4N3dt
  );
  --token-jCUgUqc4PJOA: var(--token-RjEV2p8w7aZs);
  --plasmic-token-theme-color-universal-accent-lvl-10: var(
    --token-jCUgUqc4PJOA
  );
  --token-kLoGtrMfTC49: var(--token-a6Trtn6fCWcR);
  --plasmic-token-theme-color-universal-ancillary-lvl-01: var(
    --token-kLoGtrMfTC49
  );
  --token-e-nwWBGYuZF6: var(--token-6Wg439ZjD1Ln);
  --plasmic-token-theme-color-universal-ancillary-lvl-02: var(
    --token-e-nwWBGYuZF6
  );
  --token-sBCz1uUdk7r2: var(--token-HdU9KbK__kB3);
  --plasmic-token-theme-color-universal-ancillary-lvl-03: var(
    --token-sBCz1uUdk7r2
  );
  --token-1aU8GpLqSvtJ: var(--token-U7DxEoGVYO9q);
  --plasmic-token-theme-color-universal-ancillary-lvl-04: var(
    --token-1aU8GpLqSvtJ
  );
  --token-Yb9BnPXUIfmw: var(--token-WukeJApuzKIr);
  --plasmic-token-theme-color-universal-ancillary-lvl-05: var(
    --token-Yb9BnPXUIfmw
  );
  --token-t6AY-jwHitfq: var(--token-KLKPZyIeo7Ka);
  --plasmic-token-theme-color-universal-ancillary-lvl-06: var(
    --token-t6AY-jwHitfq
  );
  --token-15iwxw0P0FHK: var(--token-TUdiFiY3o5Nb);
  --plasmic-token-theme-color-universal-ancillary-lvl-07: var(
    --token-15iwxw0P0FHK
  );
  --token-FgwDkqJaxjQD: var(--token-g69LgvuEaqRT);
  --plasmic-token-theme-color-universal-ancillary-lvl-09: var(
    --token-FgwDkqJaxjQD
  );
  --token-rHnDMJa8snyT: var(--token-212w07KROKHt);
  --plasmic-token-theme-color-universal-ancillary-lvl-10: var(
    --token-rHnDMJa8snyT
  );
  --token-8mMYTS9viA3m: var(--token-njV1csG1kB8s);
  --plasmic-token-theme-color-universal-main-lvl-01: var(--token-8mMYTS9viA3m);
  --token-lp2Y7RMvY5ne: var(--token-7-3iSscEdlg0);
  --plasmic-token-theme-color-universal-main-lvl-02: var(--token-lp2Y7RMvY5ne);
  --token-IIwFsCYY1IBc: var(--token-csqv4R-bbrvA);
  --plasmic-token-theme-color-universal-main-lvl-03: var(--token-IIwFsCYY1IBc);
  --token-ociTTSgV8xuN: var(--token-5S6dYHnehuGg);
  --plasmic-token-theme-color-universal-main-lvl-04: var(--token-ociTTSgV8xuN);
  --token-q3OScHWd4jmY: var(--token--qh8euPIU7Eq);
  --plasmic-token-theme-color-universal-main-lvl-05: var(--token-q3OScHWd4jmY);
  --token-cA1Wr5PqNFaf: var(--token-GFX8yHdC_hN_);
  --plasmic-token-theme-color-universal-main-lvl-06: var(--token-cA1Wr5PqNFaf);
  --token-JpPV7wJ8fVEu: var(--token-xfw_8MpNiAN0);
  --plasmic-token-theme-color-universal-main-lvl-07: var(--token-JpPV7wJ8fVEu);
  --token-ppJ6GFeLTavH: var(--token-TWwvJRcwlDVK);
  --plasmic-token-theme-color-universal-main-lvl-09: var(--token-ppJ6GFeLTavH);
  --token-zseewpeMQNbh: var(--token-aUwjgR0qxY5C);
  --plasmic-token-theme-color-universal-main-lvl-10: var(--token-zseewpeMQNbh);
  --token-uv8BicWmeLMq: var(--token-AFCJ0laTLrEd);
  --plasmic-token-theme-color-universal-standard-lvl-01: var(
    --token-uv8BicWmeLMq
  );
  --token-DvZ0rVOnNn5A: var(--token-q3VCitX_I4xP);
  --plasmic-token-theme-color-universal-standard-lvl-02: var(
    --token-DvZ0rVOnNn5A
  );
  --token-79-xg_PWZNRm: var(--token-HvLQDs3Vs_5c);
  --plasmic-token-theme-color-universal-standard-lvl-03: var(
    --token-79-xg_PWZNRm
  );
  --token-cNR-D2j51k1q: var(--token-OlSC77BWi0Eq);
  --plasmic-token-theme-color-universal-standard-lvl-04: var(
    --token-cNR-D2j51k1q
  );
  --token-mMTrEo1LCUX9: var(--token-VPB3WV3IT1gq);
  --plasmic-token-theme-color-universal-standard-lvl-05: var(
    --token-mMTrEo1LCUX9
  );
  --token-uBaWbNE8EOyq: var(--token-1uT3IIrbdlxr);
  --plasmic-token-theme-color-universal-standard-lvl-06: var(
    --token-uBaWbNE8EOyq
  );
  --token-FXKiWKhPVz7R: var(--token-bYax8giCMWFM);
  --plasmic-token-theme-color-universal-standard-lvl-08: var(
    --token-FXKiWKhPVz7R
  );
  --token-1eB_YpJ0F4ph: var(--token-ZdI-W5zQ8q52);
  --plasmic-token-theme-color-universal-standard-lvl-09: var(
    --token-1eB_YpJ0F4ph
  );
  --token-i1A8pvXvaMCZ: var(--token-d9smXCDRWnmL);
  --plasmic-token-theme-semantic-color-ancillary-background: var(
    --token-i1A8pvXvaMCZ
  );
  --token-d9smXCDRWnmL: var(--token-t6AY-jwHitfq);
  --plasmic-token-theme-semantic-color-ancillary-bold: var(
    --token-d9smXCDRWnmL
  );
  --token-DVrm_PHLCd9Z: var(--token-15iwxw0P0FHK);
  --plasmic-token-theme-semantic-color-ancillary-default: var(
    --token-DVrm_PHLCd9Z
  );
  --token-YYaPxBFnPrMt: #78bf39;
  --plasmic-token-theme-semantic-color-ancillary-disabled: var(
    --token-YYaPxBFnPrMt
  );
  --token-KiZk_wa0L5Hm: #254211;
  --plasmic-token-theme-semantic-color-ancillary-emphasis: var(
    --token-KiZk_wa0L5Hm
  );
  --token-AviJWO6yzQV5: #52a31d;
  --plasmic-token-theme-semantic-color-ancillary-muted: var(
    --token-AviJWO6yzQV5
  );
  --token-Gl0kvJfw1qBV: #ebf7da;
  --plasmic-token-theme-semantic-color-ancillary-subtle: var(
    --token-Gl0kvJfw1qBV
  );
  --token-8_fpPlLEEFWR: var(--token-t6AY-jwHitfq);
  --plasmic-token-theme-semantic-color-ancillary-text: var(
    --token-8_fpPlLEEFWR
  );
  --token-KO5IRn-ulScA: var(--token-lTsD1Bed3Eq2);
  --plasmic-token-theme-semantic-color-main-background: var(
    --token-KO5IRn-ulScA
  );
  --token-lTsD1Bed3Eq2: var(--token-cA1Wr5PqNFaf);
  --plasmic-token-theme-semantic-color-main-bold: var(--token-lTsD1Bed3Eq2);
  --token-EwkVxWJA_hn-: var(--token-JpPV7wJ8fVEu);
  --plasmic-token-theme-semantic-color-main-default: var(--token-EwkVxWJA_hn-);
  --token-br-JcGP2bfg3: #48b8f0;
  --plasmic-token-theme-semantic-color-main-disabled: var(--token-br-JcGP2bfg3);
  --token-waJnTyOBheMW: var(--token-s14VKNOzUfi1);
  --plasmic-token-theme-semantic-color-main-emphasis: var(--token-waJnTyOBheMW);
  --token-11zSXWulgPv2: var(--token-q3OScHWd4jmY);
  --plasmic-token-theme-semantic-color-main-muted: var(--token-11zSXWulgPv2);
  --token-0tw00joc-zOm: var(--token-8mMYTS9viA3m);
  --plasmic-token-theme-semantic-color-main-subtle: var(--token-0tw00joc-zOm);
  --token-T2sZrPNW1TxX: var(--token-cA1Wr5PqNFaf);
  --plasmic-token-theme-semantic-color-main-text: var(--token-T2sZrPNW1TxX);
  --token-dMqbt1wiYG0z: var(--token-uBaWbNE8EOyq);
  --plasmic-token-theme-semantic-color-standard-background: var(
    --token-dMqbt1wiYG0z
  );
  --token-kC9vkpBjeNNm: var(--token-uBaWbNE8EOyq);
  --plasmic-token-theme-semantic-color-standard-bold: var(--token-kC9vkpBjeNNm);
  --token-KiqJieiPtU3p: var(--token-be5plH1wEZoW);
  --plasmic-token-theme-semantic-color-standard-default: var(
    --token-KiqJieiPtU3p
  );
  --token-qMgZG387WN1n: var(--token-cNR-D2j51k1q);
  --plasmic-token-theme-semantic-color-standard-disabled: var(
    --token-qMgZG387WN1n
  );
  --token-pdeRsXftv5o4: var(--token-FXKiWKhPVz7R);
  --plasmic-token-theme-semantic-color-standard-emphasis: var(
    --token-pdeRsXftv5o4
  );
  --token-ST1_z4jLZPXZ: var(--token-mMTrEo1LCUX9);
  --plasmic-token-theme-semantic-color-standard-muted: var(
    --token-ST1_z4jLZPXZ
  );
  --token-atpb4S-9_Q9F: #f2f5f7;
  --plasmic-token-theme-semantic-color-standard-subtle: var(
    --token-atpb4S-9_Q9F
  );
  --token-qUp5nSpI6n9g: var(--token-kC9vkpBjeNNm);
  --plasmic-token-theme-semantic-color-standard-text: var(--token-qUp5nSpI6n9g);
  --token-be5plH1wEZoW: var(--token-TiPVh24ZhEs5);
  --plasmic-token-theme-color-universal-standard-lvl-07: var(
    --token-be5plH1wEZoW
  );
  --token-s14VKNOzUfi1: var(--token-lLPoRkuR8otF);
  --plasmic-token-theme-color-universal-main-lvl-08: var(--token-s14VKNOzUfi1);
  --token-ZDWUyC4JexDT: #131313;
  --plasmic-token-headline-text-color-universal-primary: var(
    --token-ZDWUyC4JexDT
  );
  --token-MfWqDQuyNfXr: 40px;
  --plasmic-token-headline-line-height-md: var(--token-MfWqDQuyNfXr);
  --token-Sa402j5eAnIv: 36px;
  --plasmic-token-headline-size-md: var(--token-Sa402j5eAnIv);
  --token-0PehlUM1Sp7n: Merriweather;
  --plasmic-token-headline-font-family-default: var(--token-0PehlUM1Sp7n);
  --token-JQ8uYhbhJ3Xz: #525252;
  --plasmic-token-headline-text-color-universal-secondary: var(
    --token-JQ8uYhbhJ3Xz
  );
  --token-MN2dDFa2lckh: #8f49de;
  --plasmic-token-headline-text-color-brand-primary: var(--token-MN2dDFa2lckh);
  --token-VcF6STOzhaw9: #167b7d;
  --plasmic-token-headline-text-color-brand-secondary: var(
    --token-VcF6STOzhaw9
  );
  --token-8pTO39KvokYV: #077d55;
  --plasmic-token-headline-text-color-status-success: var(--token-8pTO39KvokYV);
  --token-D5u7SLV5f_Vi: #186ade;
  --plasmic-token-headline-text-color-status-information: var(
    --token-D5u7SLV5f_Vi
  );
  --token-ddnR1BsEN7j7: #d91f11;
  --plasmic-token-headline-text-color-status-error: var(--token-ddnR1BsEN7j7);
  --token-9bBbrJamlxWZ: #121212b3;
  --plasmic-token-headline-text-color-status-disabled: var(
    --token-9bBbrJamlxWZ
  );
  --token-A_jUOlPe6i5l: #737373;
  --plasmic-token-headline-text-color-universal-helper: var(
    --token-A_jUOlPe6i5l
  );
  --token-hB4nC3WE8jHF: #ffffff;
  --plasmic-token-headline-text-color-universal-on-color: var(
    --token-hB4nC3WE8jHF
  );
  --token-SmmWDz21CI1e: Source Sans Pro;
  --plasmic-token-headline-font-family-emphasis: var(--token-SmmWDz21CI1e);
  --token-Y-T4u7pVGZMy: 36px;
  --plasmic-token-headline-line-height-xs: var(--token-Y-T4u7pVGZMy);
  --token-pxQn6YfwPy-e: 28px;
  --plasmic-token-headline-size-xs: var(--token-pxQn6YfwPy-e);
  --token-ul1bmUq7djl8: 36px;
  --plasmic-token-headline-line-height-sm: var(--token-ul1bmUq7djl8);
  --token-5vhG4hhHPZc6: 32px;
  --plasmic-token-headline-size-sm: var(--token-5vhG4hhHPZc6);
  --token-3q9O-ZV8wAwJ: 42px;
  --plasmic-token-headline-size-lg: var(--token-3q9O-ZV8wAwJ);
  --token-CAEfrnFFRDxt: 50px;
  --plasmic-token-headline-line-height-lg: var(--token-CAEfrnFFRDxt);
  --token-R0_2K-qN6v8S: 54px;
  --plasmic-token-headline-size-xl: var(--token-R0_2K-qN6v8S);
  --token-cWI8yJjRgehv: 16px;
  --plasmic-token-title-gap-base-md: var(--token-cWI8yJjRgehv);
  --token-LJbXeAN9kOck: 16px;
  --plasmic-token-title-padding-md: var(--token-LJbXeAN9kOck);
  --token-jzoI8eOQRPsl: 10px;
  --plasmic-token-title-padding-sm: var(--token-jzoI8eOQRPsl);
  --token-05JNWm3Ai9An: 24px;
  --plasmic-token-title-gap-base-lg: var(--token-05JNWm3Ai9An);
  --token-OUZd_g0p6GoZ: 24px;
  --plasmic-token-title-padding-lg: var(--token-OUZd_g0p6GoZ);
  --token-oXi5FdPzBlGX: 2px;
  --plasmic-token-title-padding-none: var(--token-oXi5FdPzBlGX);
  --token-6hHcz4kuAOrK: 4px;
  --plasmic-token-title-gap-top-md: var(--token-6hHcz4kuAOrK);
  --token-2HWSU28_kSft: 2px;
  --plasmic-token-title-gap-top-sm: var(--token-2HWSU28_kSft);
  --token-XT1SPSWjqVDt: 10px;
  --plasmic-token-title-gap-top-lg: var(--token-XT1SPSWjqVDt);
  --token-Q0MFn4CrwYmk: #131313;
  --plasmic-token-subheadline-text-color-primary: var(--token-Q0MFn4CrwYmk);
  --token-xgOVQ1GqI2rH: 36px;
  --plasmic-token-subheadline-line-height-md: var(--token-xgOVQ1GqI2rH);
  --token-aSmpHr9PqJ1N: 28px;
  --plasmic-token-subheadline-size-md: var(--token-aSmpHr9PqJ1N);
  --token-78HvTkqOymKB: Source Sans Pro;
  --plasmic-token-headline-font-family-primary: var(--token-78HvTkqOymKB);
  --token-Pd-xPDnGmTfE: #525252;
  --plasmic-token-subheadline-text-color-secondary: var(--token-Pd-xPDnGmTfE);
  --token-xlL8-RhKbIJW: #8f49de;
  --plasmic-token-subheadline-text-color-theme-main: var(--token-xlL8-RhKbIJW);
  --token-f0HdeN_ipL-m: #167b7d;
  --plasmic-token-subheadline-text-color-theme-ancillary: var(
    --token-f0HdeN_ipL-m
  );
  --token-Z5Ox0EOiFDrn: #077d55;
  --plasmic-token-subheadline-text-color-success: var(--token-Z5Ox0EOiFDrn);
  --token-RD1DweuVFo9L: #186ade;
  --plasmic-token-subheadline-text-color-information: var(--token-RD1DweuVFo9L);
  --token-EjcfhXQi-O6r: #d91f11;
  --plasmic-token-subheadline-text-color-error: var(--token-EjcfhXQi-O6r);
  --token-SUQkJYmIvKYQ: #121212b3;
  --plasmic-token-subheadline-text-color-disabled: var(--token-SUQkJYmIvKYQ);
  --token-2EEPw_X3uTmn: #737373;
  --plasmic-token-subheadline-text-color-helper: var(--token-2EEPw_X3uTmn);
  --token-xExJlmR1OLFQ: #ffffff;
  --plasmic-token-subheadline-text-color-on-color: var(--token-xExJlmR1OLFQ);
  --token-PmcWpCsZH6MX: Merriweather;
  --plasmic-token-headline-font-family-emphasis-2: var(--token-PmcWpCsZH6MX);
  --token-itcXhS8dhlnU: 26px;
  --plasmic-token-subheadline-line-height-sm: var(--token-itcXhS8dhlnU);
  --token-V21g3u0PP_3m: 24px;
  --plasmic-token-subheadline-size-sm: var(--token-V21g3u0PP_3m);
  --token-nf2K3vMHEUFE: 32px;
  --plasmic-token-subheadline-size-lg: var(--token-nf2K3vMHEUFE);
  --token-r-NM5gPN2h9f: 36px;
  --plasmic-token-subheadline-line-height-lg: var(--token-r-NM5gPN2h9f);
  --token-0wlLUmRFCzBK: 16px;
  --plasmic-token-semantic-font-size-md: var(--token-0wlLUmRFCzBK);
  --token-eZi3X2Ok3uBv: #186ade;
  --plasmic-token-link-color-default: var(--token-eZi3X2Ok3uBv);
  --token-SqtYC-c_A8no: 13px;
  --plasmic-token-semantic-font-size-sm: var(--token-SqtYC-c_A8no);
  --token-an7_e54JZILF: 19px;
  --plasmic-token-semantic-font-size-lg: var(--token-an7_e54JZILF);
  --token-Tn8gShpwxug7: #0d4ea6;
  --plasmic-token-link-color-primary-hover: var(--token-Tn8gShpwxug7);
  --token-isGfBag6HQQ3: #0d4ea6;
  --plasmic-token-link-color-active: var(--token-isGfBag6HQQ3);
  --token-fuQEcicB-GSW: #d4d4d4;
  --plasmic-token-label-color-text-subtle: var(--token-fuQEcicB-GSW);
  --token-GV8PXQ04Dix9: 16px;
  --plasmic-token-semantic-font-size-base: var(--token-GV8PXQ04Dix9);
  --token-fEClTGFcBvC3: #737373;
  --plasmic-token-label-color-text-emphasis: var(--token-fEClTGFcBvC3);
  --token-YSExnqqADnaB: #737373;
  --plasmic-token-label-color-text-primary: var(--token-YSExnqqADnaB);
  --token-TqzfjaA-h6xF: 20px;
  --plasmic-token-content-line-height-md: var(--token-TqzfjaA-h6xF);
  --token-3oI_n7E0W9hM: 2px;
  --plasmic-token-content-padding-none: var(--token-3oI_n7E0W9hM);
  --token-i1Qpu-Z6jnd7: 16px;
  --plasmic-token-content-padding-md: var(--token-i1Qpu-Z6jnd7);
  --token-eiCnxGrynqr5: 10px;
  --plasmic-token-content-padding-sm: var(--token-eiCnxGrynqr5);
  --token-Nem-1-lY5ymY: 24px;
  --plasmic-token-content-padding-lg: var(--token-Nem-1-lY5ymY);
  --token-lL1gCZ_QENfw: #131313;
  --plasmic-token-content-text-color-universal-primary: var(
    --token-lL1gCZ_QENfw
  );
  --token-QWJSXu1Mv36a: 22px;
  --plasmic-token-content-line-height-lg: var(--token-QWJSXu1Mv36a);
  --token-fG_lqYU71atc: 16px;
  --plasmic-token-content-size-md: var(--token-fG_lqYU71atc);
  --token-J-z3IqHl__3y: Source Sans Pro;
  --plasmic-token-content-font-family-default: var(--token-J-z3IqHl__3y);
  --token-W_T8JQl_XccJ: #525252;
  --plasmic-token-content-text-color-universal-secondary: var(
    --token-W_T8JQl_XccJ
  );
  --token-OAhtpK9PtHRW: #8f49de;
  --plasmic-token-content-text-color-brand-primary: var(--token-OAhtpK9PtHRW);
  --token-62S58eBmD4Jh: #167b7d;
  --plasmic-token-content-text-color-brand-secondary: var(--token-62S58eBmD4Jh);
  --token-Ktbk-DfBwL_B: #077d55;
  --plasmic-token-content-text-color-status-success: var(--token-Ktbk-DfBwL_B);
  --token-Rq876GCt9N4e: #186ade;
  --plasmic-token-content-text-color-information: var(--token-Rq876GCt9N4e);
  --token-BbLMiIShRJBk: #d91f11;
  --plasmic-token-content-text-color-status-error: var(--token-BbLMiIShRJBk);
  --token-lvj2o6cJQ72L: #121212b3;
  --plasmic-token-content-text-color-status-disabled: var(--token-lvj2o6cJQ72L);
  --token-DqjvOGQ-v7yh: #737373;
  --plasmic-token-content-text-color-status-helper: var(--token-DqjvOGQ-v7yh);
  --token-aJAS0dkrhmRw: #ffffff;
  --plasmic-token-content-text-color-universal-on-color: var(
    --token-aJAS0dkrhmRw
  );
  --token-n2eZjh9j0UKg: Merriweather;
  --plasmic-token-content-font-family-emphasis: var(--token-n2eZjh9j0UKg);
  --token-feL6uj6fBt36: 14px;
  --plasmic-token-content-size-sm: var(--token-feL6uj6fBt36);
  --token-_vqZv7Zir_8K: 18px;
  --plasmic-token-content-size-lg: var(--token-_vqZv7Zir_8K);
  --token-lDKl3u_1jjk-: #131313;
  --plasmic-token-kicker-text-color-primary: var(--token-lDKl3u_1jjk-);
  --token-QHQKT97vpwH_: 26px;
  --plasmic-token-kicker-line-height-md: var(--token-QHQKT97vpwH_);
  --token-CA2jZxaRQaC1: 24px;
  --plasmic-token-kicker-size-md: var(--token-CA2jZxaRQaC1);
  --token-Xj0qqtrTKiKf: #525252;
  --plasmic-token-kicker-text-color-secondary: var(--token-Xj0qqtrTKiKf);
  --token-hG4gmjB8KOPH: #8f49de;
  --plasmic-token-kicker-text-color-theme-main: var(--token-hG4gmjB8KOPH);
  --token-nUCMlVu7QM-c: #167b7d;
  --plasmic-token-kicker-text-color-theme-ancillary: var(--token-nUCMlVu7QM-c);
  --token-2PEkZdMQ-WcX: #077d55;
  --plasmic-token-kicker-text-color-success: var(--token-2PEkZdMQ-WcX);
  --token-bGCIHGOt9O7Q: #186ade;
  --plasmic-token-kicker-text-color-information: var(--token-bGCIHGOt9O7Q);
  --token-nUqQ8EBciuZy: #d91f11;
  --plasmic-token-kicker-text-color-error: var(--token-nUqQ8EBciuZy);
  --token-zPlZyNMKUrzP: #121212b3;
  --plasmic-token-kicker-text-color-disabled: var(--token-zPlZyNMKUrzP);
  --token-qHnN2W5Gbo31: #737373;
  --plasmic-token-kicker-text-color-helper: var(--token-qHnN2W5Gbo31);
  --token-Rr8dcSqvcefE: #ffffff;
  --plasmic-token-kicker-text-color-on-color: var(--token-Rr8dcSqvcefE);
  --token-114fexmZEi0W: Merriweather;
  --plasmic-token-kicker-font-family-emphasis: var(--token-114fexmZEi0W);
  --token-Rv5VlCwuiYcL: 24px;
  --plasmic-token-kicker-line-height-sm: var(--token-Rv5VlCwuiYcL);
  --token-PFCvXKuxMMyq: 20px;
  --plasmic-token-kicker-size-sm: var(--token-PFCvXKuxMMyq);
  --token-6cSp8cWmJYoM: 28px;
  --plasmic-token-kicker-size-lg: var(--token-6cSp8cWmJYoM);
  --token-sTvjflXp4k-k: 36px;
  --plasmic-token-kicker-line-height-lg: var(--token-sTvjflXp4k-k);
  --token-cPPHP4R4kchu: 16px;
  --plasmic-token-list-group-padding-md: var(--token-cPPHP4R4kchu);
  --token-MGwxZJuKGMOc: 4px;
  --plasmic-token-list-group-gap-sm: var(--token-MGwxZJuKGMOc);
  --token-rXou29RUpqBI: 8px;
  --plasmic-token-list-group-padding-sm: var(--token-rXou29RUpqBI);
  --token-xACNql1lwTSS: 12px;
  --plasmic-token-list-group-gap-lg: var(--token-xACNql1lwTSS);
  --token-bPyERLx0DljK: 24px;
  --plasmic-token-list-group-padding-lg: var(--token-bPyERLx0DljK);
  --token-gRzntv1CpPkd: 8px;
  --plasmic-token-list-group-gap-md: var(--token-gRzntv1CpPkd);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-N7sJqGCssk3W-c5U1Y_font-family: "Inter", sans-serif;
  --mixin-N7sJqGCssk3W-c5U1Y_font-size: 16px;
  --mixin-N7sJqGCssk3W-c5U1Y_font-weight: 400;
  --mixin-N7sJqGCssk3W-c5U1Y_font-style: normal;
  --mixin-N7sJqGCssk3W-c5U1Y_color: #535353;
  --mixin-N7sJqGCssk3W-c5U1Y_text-align: left;
  --mixin-N7sJqGCssk3W-c5U1Y_text-transform: none;
  --mixin-N7sJqGCssk3W-c5U1Y_line-height: 1.5;
  --mixin-N7sJqGCssk3W-c5U1Y_letter-spacing: normal;
  --mixin-N7sJqGCssk3W-c5U1Y_white-space: pre-wrap;
  --mixin-N7sJqGCssk3W-c5U1Y_user-select: text;
  --mixin-N7sJqGCssk3W-c5U1Y_text-decoration-line: none;
  --mixin-N7sJqGCssk3W-c5U1Y_text-overflow: clip;
  --mixin-TwIN6v4TDZsh-c5U1Y_color: #000000;
  --mixin-TwIN6v4TDZsh-c5U1Y_font-size: 24px;
  --mixin-TwIN6v4TDZsh-c5U1Y_font-weight: 600;
  --mixin-TwIN6v4TDZsh-c5U1Y_letter-spacing: -0.5px;
  --mixin-TwIN6v4TDZsh-c5U1Y_line-height: 1.3;
  --mixin-TwIN6v4TDZsh-c5U1Y_white-space: pre-wrap;
  --mixin-q72mklT1Q5nR-c5U1Y_color: #000000;
  --mixin-q72mklT1Q5nR-c5U1Y_font-size: 20px;
  --mixin-q72mklT1Q5nR-c5U1Y_font-weight: 600;
  --mixin-q72mklT1Q5nR-c5U1Y_letter-spacing: -0.3px;
  --mixin-q72mklT1Q5nR-c5U1Y_line-height: 1.5;
  --mixin-q72mklT1Q5nR-c5U1Y_white-space: pre-wrap;
  --mixin-DKPDM6TztNuJ-c5U1Y_color: #000000;
  --mixin-DKPDM6TztNuJ-c5U1Y_font-size: 16px;
  --mixin-DKPDM6TztNuJ-c5U1Y_font-weight: 600;
  --mixin-DKPDM6TztNuJ-c5U1Y_line-height: 1.5;
  --mixin-DKPDM6TztNuJ-c5U1Y_white-space: pre-wrap;
  --mixin-8L49yfLQ6Uqv-c5U1Y_color: #0070f3;
  --mixin-8L49yfLQ6Uqv-c5U1Y_white-space: pre-wrap;
  --mixin-6fxLQd8xtBy9-c5U1Y_border-left-color: #dddddd;
  --mixin-6fxLQd8xtBy9-c5U1Y_border-left-style: solid;
  --mixin-6fxLQd8xtBy9-c5U1Y_border-left-width: 3px;
  --mixin-6fxLQd8xtBy9-c5U1Y_color: #888888;
  --mixin-6fxLQd8xtBy9-c5U1Y_padding-left: 10px;
  --mixin-6fxLQd8xtBy9-c5U1Y_white-space: pre-wrap;
  --mixin-2RibxyYXQC3u-c5U1Y_color: #000000;
  --mixin-2RibxyYXQC3u-c5U1Y_font-size: 64px;
  --mixin-2RibxyYXQC3u-c5U1Y_font-weight: 700;
  --mixin-2RibxyYXQC3u-c5U1Y_letter-spacing: -1px;
  --mixin-2RibxyYXQC3u-c5U1Y_line-height: 1;
  --mixin-2RibxyYXQC3u-c5U1Y_white-space: pre-wrap;
  --mixin-d7pq7XEC50QH-c5U1Y_color: #000000;
  --mixin-d7pq7XEC50QH-c5U1Y_font-size: 48px;
  --mixin-d7pq7XEC50QH-c5U1Y_font-weight: 700;
  --mixin-d7pq7XEC50QH-c5U1Y_line-height: 1.1;
  --mixin-d7pq7XEC50QH-c5U1Y_letter-spacing: -0.5px;
  --mixin-d7pq7XEC50QH-c5U1Y_white-space: pre-wrap;
  --mixin-J__alPhdr0iR-c5U1Y_color: #000000;
  --mixin-J__alPhdr0iR-c5U1Y_font-size: 32px;
  --mixin-J__alPhdr0iR-c5U1Y_font-weight: 600;
  --mixin-J__alPhdr0iR-c5U1Y_line-height: 1.2;
  --mixin-J__alPhdr0iR-c5U1Y_white-space: pre-wrap;
  --mixin-2WKSYhHXknZ7-c5U1Y_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-2WKSYhHXknZ7-c5U1Y_border-bottom-color: #dddddd;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-bottom-style: solid;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-bottom-width: 1px;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-left-color: #dddddd;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-left-style: solid;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-left-width: 1px;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-right-color: #dddddd;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-right-style: solid;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-right-width: 1px;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-top-color: #dddddd;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-top-style: solid;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-top-width: 1px;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-bottom-left-radius: 3px;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-bottom-right-radius: 3px;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-top-left-radius: 3px;
  --mixin-2WKSYhHXknZ7-c5U1Y_border-top-right-radius: 3px;
  --mixin-2WKSYhHXknZ7-c5U1Y_font-family: "Inconsolata";
  --mixin-2WKSYhHXknZ7-c5U1Y_padding-bottom: 1px;
  --mixin-2WKSYhHXknZ7-c5U1Y_padding-left: 4px;
  --mixin-2WKSYhHXknZ7-c5U1Y_padding-right: 4px;
  --mixin-2WKSYhHXknZ7-c5U1Y_padding-top: 1px;
  --mixin-2WKSYhHXknZ7-c5U1Y_white-space: pre-wrap;
  --mixin-Yc3BBKKO4H94-c5U1Y_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Yc3BBKKO4H94-c5U1Y_border-bottom-color: #dddddd;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-bottom-style: solid;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-bottom-width: 1px;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-left-color: #dddddd;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-left-style: solid;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-left-width: 1px;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-right-color: #dddddd;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-right-style: solid;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-right-width: 1px;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-top-color: #dddddd;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-top-style: solid;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-top-width: 1px;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-bottom-left-radius: 3px;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-bottom-right-radius: 3px;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-top-left-radius: 3px;
  --mixin-Yc3BBKKO4H94-c5U1Y_border-top-right-radius: 3px;
  --mixin-Yc3BBKKO4H94-c5U1Y_font-family: "Inconsolata";
  --mixin-Yc3BBKKO4H94-c5U1Y_padding-bottom: 3px;
  --mixin-Yc3BBKKO4H94-c5U1Y_padding-left: 6px;
  --mixin-Yc3BBKKO4H94-c5U1Y_padding-right: 6px;
  --mixin-Yc3BBKKO4H94-c5U1Y_padding-top: 3px;
  --mixin-Yc3BBKKO4H94-c5U1Y_white-space: pre-wrap;
  --mixin-fIdNpJTvmrEy-c5U1Y_display: flex;
  --mixin-fIdNpJTvmrEy-c5U1Y_flex-direction: column;
  --mixin-fIdNpJTvmrEy-c5U1Y_align-items: stretch;
  --mixin-fIdNpJTvmrEy-c5U1Y_justify-content: flex-start;
  --mixin-fIdNpJTvmrEy-c5U1Y_list-style-position: outside;
  --mixin-fIdNpJTvmrEy-c5U1Y_padding-left: 40px;
  --mixin-fIdNpJTvmrEy-c5U1Y_position: relative;
  --mixin-fIdNpJTvmrEy-c5U1Y_list-style-type: decimal;
  --mixin-fIdNpJTvmrEy-c5U1Y_white-space: pre-wrap;
  --mixin-IU3KQ6PYf942-c5U1Y_display: flex;
  --mixin-IU3KQ6PYf942-c5U1Y_flex-direction: column;
  --mixin-IU3KQ6PYf942-c5U1Y_align-items: stretch;
  --mixin-IU3KQ6PYf942-c5U1Y_justify-content: flex-start;
  --mixin-IU3KQ6PYf942-c5U1Y_list-style-position: outside;
  --mixin-IU3KQ6PYf942-c5U1Y_padding-left: 40px;
  --mixin-IU3KQ6PYf942-c5U1Y_position: relative;
  --mixin-IU3KQ6PYf942-c5U1Y_list-style-type: disc;
  --mixin-IU3KQ6PYf942-c5U1Y_white-space: pre-wrap;
  --mixin-8aZ79CkP2-t5-c5U1Y_color: #3291ff;
  --mixin-8aZ79CkP2-t5-c5U1Y_white-space: pre-wrap;
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-N7sJqGCssk3W-c5U1Y_font-family);
  font-size: var(--mixin-N7sJqGCssk3W-c5U1Y_font-size);
  font-weight: var(--mixin-N7sJqGCssk3W-c5U1Y_font-weight);
  font-style: var(--mixin-N7sJqGCssk3W-c5U1Y_font-style);
  color: var(--mixin-N7sJqGCssk3W-c5U1Y_color);
  text-align: var(--mixin-N7sJqGCssk3W-c5U1Y_text-align);
  text-transform: var(--mixin-N7sJqGCssk3W-c5U1Y_text-transform);
  line-height: var(--mixin-N7sJqGCssk3W-c5U1Y_line-height);
  letter-spacing: var(--mixin-N7sJqGCssk3W-c5U1Y_letter-spacing);
  white-space: var(--mixin-N7sJqGCssk3W-c5U1Y_white-space);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  color: var(--mixin-TwIN6v4TDZsh-c5U1Y_color);
  font-size: var(--mixin-TwIN6v4TDZsh-c5U1Y_font-size);
  font-weight: var(--mixin-TwIN6v4TDZsh-c5U1Y_font-weight);
  letter-spacing: var(--mixin-TwIN6v4TDZsh-c5U1Y_letter-spacing);
  line-height: var(--mixin-TwIN6v4TDZsh-c5U1Y_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  color: var(--mixin-q72mklT1Q5nR-c5U1Y_color);
  font-size: var(--mixin-q72mklT1Q5nR-c5U1Y_font-size);
  font-weight: var(--mixin-q72mklT1Q5nR-c5U1Y_font-weight);
  letter-spacing: var(--mixin-q72mklT1Q5nR-c5U1Y_letter-spacing);
  line-height: var(--mixin-q72mklT1Q5nR-c5U1Y_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  color: var(--mixin-DKPDM6TztNuJ-c5U1Y_color);
  font-size: var(--mixin-DKPDM6TztNuJ-c5U1Y_font-size);
  font-weight: var(--mixin-DKPDM6TztNuJ-c5U1Y_font-weight);
  line-height: var(--mixin-DKPDM6TztNuJ-c5U1Y_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-8L49yfLQ6Uqv-c5U1Y_color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-6fxLQd8xtBy9-c5U1Y_color);
  padding-left: var(--mixin-6fxLQd8xtBy9-c5U1Y_padding-left);
  border-left: var(--mixin-6fxLQd8xtBy9-c5U1Y_border-left-width)
    var(--mixin-6fxLQd8xtBy9-c5U1Y_border-left-style)
    var(--mixin-6fxLQd8xtBy9-c5U1Y_border-left-color);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-2RibxyYXQC3u-c5U1Y_color);
  font-size: var(--mixin-2RibxyYXQC3u-c5U1Y_font-size);
  font-weight: var(--mixin-2RibxyYXQC3u-c5U1Y_font-weight);
  letter-spacing: var(--mixin-2RibxyYXQC3u-c5U1Y_letter-spacing);
  line-height: var(--mixin-2RibxyYXQC3u-c5U1Y_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  color: var(--mixin-d7pq7XEC50QH-c5U1Y_color);
  font-size: var(--mixin-d7pq7XEC50QH-c5U1Y_font-size);
  font-weight: var(--mixin-d7pq7XEC50QH-c5U1Y_font-weight);
  line-height: var(--mixin-d7pq7XEC50QH-c5U1Y_line-height);
  letter-spacing: var(--mixin-d7pq7XEC50QH-c5U1Y_letter-spacing);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  color: var(--mixin-J__alPhdr0iR-c5U1Y_color);
  font-size: var(--mixin-J__alPhdr0iR-c5U1Y_font-size);
  font-weight: var(--mixin-J__alPhdr0iR-c5U1Y_font-weight);
  line-height: var(--mixin-J__alPhdr0iR-c5U1Y_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-2WKSYhHXknZ7-c5U1Y_font-family);
  border-radius: var(--mixin-2WKSYhHXknZ7-c5U1Y_border-top-left-radius)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-top-right-radius)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-bottom-right-radius)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-bottom-left-radius);
  padding: var(--mixin-2WKSYhHXknZ7-c5U1Y_padding-top)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_padding-right)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_padding-bottom)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_padding-left);
  border-top: var(--mixin-2WKSYhHXknZ7-c5U1Y_border-top-width)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-top-style)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-top-color);
  border-right: var(--mixin-2WKSYhHXknZ7-c5U1Y_border-right-width)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-right-style)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-right-color);
  border-bottom: var(--mixin-2WKSYhHXknZ7-c5U1Y_border-bottom-width)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-bottom-style)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-bottom-color);
  border-left: var(--mixin-2WKSYhHXknZ7-c5U1Y_border-left-width)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-left-style)
    var(--mixin-2WKSYhHXknZ7-c5U1Y_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Yc3BBKKO4H94-c5U1Y_font-family);
  border-radius: var(--mixin-Yc3BBKKO4H94-c5U1Y_border-top-left-radius)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-top-right-radius)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-bottom-right-radius)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-bottom-left-radius);
  padding: var(--mixin-Yc3BBKKO4H94-c5U1Y_padding-top)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_padding-right)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_padding-bottom)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_padding-left);
  border-top: var(--mixin-Yc3BBKKO4H94-c5U1Y_border-top-width)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-top-style)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-top-color);
  border-right: var(--mixin-Yc3BBKKO4H94-c5U1Y_border-right-width)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-right-style)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-right-color);
  border-bottom: var(--mixin-Yc3BBKKO4H94-c5U1Y_border-bottom-width)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-bottom-style)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-bottom-color);
  border-left: var(--mixin-Yc3BBKKO4H94-c5U1Y_border-left-width)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-left-style)
    var(--mixin-Yc3BBKKO4H94-c5U1Y_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-fIdNpJTvmrEy-c5U1Y_display);
  flex-direction: var(--mixin-fIdNpJTvmrEy-c5U1Y_flex-direction);
  align-items: var(--mixin-fIdNpJTvmrEy-c5U1Y_align-items);
  justify-content: var(--mixin-fIdNpJTvmrEy-c5U1Y_justify-content);
  list-style-position: var(--mixin-fIdNpJTvmrEy-c5U1Y_list-style-position);
  padding-left: var(--mixin-fIdNpJTvmrEy-c5U1Y_padding-left);
  position: var(--mixin-fIdNpJTvmrEy-c5U1Y_position);
  list-style-type: var(--mixin-fIdNpJTvmrEy-c5U1Y_list-style-type);
  flex-column-gap: var(--mixin-fIdNpJTvmrEy-c5U1Y_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-IU3KQ6PYf942-c5U1Y_display);
  flex-direction: var(--mixin-IU3KQ6PYf942-c5U1Y_flex-direction);
  align-items: var(--mixin-IU3KQ6PYf942-c5U1Y_align-items);
  justify-content: var(--mixin-IU3KQ6PYf942-c5U1Y_justify-content);
  list-style-position: var(--mixin-IU3KQ6PYf942-c5U1Y_list-style-position);
  padding-left: var(--mixin-IU3KQ6PYf942-c5U1Y_padding-left);
  position: var(--mixin-IU3KQ6PYf942-c5U1Y_position);
  list-style-type: var(--mixin-IU3KQ6PYf942-c5U1Y_list-style-type);
  flex-column-gap: var(--mixin-IU3KQ6PYf942-c5U1Y_flex-column-gap);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-8aZ79CkP2-t5-c5U1Y_color);
}
