.root {
  display: flex;
  position: relative;
  flex-direction: column;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 8px;
}
.freeBox___2UyU9 {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___2UyU9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___2UyU9 > :global(.__wab_flex-container) > *,
.freeBox___2UyU9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___2UyU9 > :global(.__wab_flex-container) > picture > img,
.freeBox___2UyU9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.text__vGcQr {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-PiiUkC3U4i9l);
  min-width: 0;
}
.freeBox__xaNtU {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__xaNtU > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__xaNtU > :global(.__wab_flex-container) > *,
.freeBox__xaNtU > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xaNtU > :global(.__wab_flex-container) > picture > img,
.freeBox__xaNtU
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__xSfPd {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__jcpv6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-7V1LFAn5SKJz);
  min-width: 0;
}
.text___4LRri {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-3bnOqIQm07CH);
  min-width: 0;
}
.text__zmkIp {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-TzbBSWcN3o-x);
  min-width: 0;
}
.text__boHlJ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-slAbZq7z3Cvd);
  min-width: 0;
}
.text__rXQua {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Ef1ZembKsehC);
  min-width: 0;
}
.text__sqhLw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-HDP4w_oUbNf1);
  min-width: 0;
}
.text__w9D9E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-fgNsBtXv8vej);
  min-width: 0;
}
.text__wz7OA {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Qqi5iAP4N3dt);
  min-width: 0;
}
.text__oege0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-jCUgUqc4PJOA);
  min-width: 0;
}
.freeBox__t4TXo {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__m1OhT {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kLoGtrMfTC49);
  min-width: 0;
}
.text__dI7BN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-e-nwWBGYuZF6);
  min-width: 0;
}
.text__chtwx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-sBCz1uUdk7r2);
  min-width: 0;
}
.text__zQmL {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-1aU8GpLqSvtJ);
  min-width: 0;
}
.text___3QVoR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Yb9BnPXUIfmw);
  min-width: 0;
}
.text__dzOs1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-t6AY-jwHitfq);
  min-width: 0;
}
.text__xRzhR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-15iwxw0P0FHK);
  min-width: 0;
}
.text__qD9A {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FgwDkqJaxjQD);
  min-width: 0;
}
.text__u1XIb {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-rHnDMJa8snyT);
  min-width: 0;
}
.freeBox___6ZN9P {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text__yCdMx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8mMYTS9viA3m);
  min-width: 0;
}
.text___5MIze {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-lp2Y7RMvY5ne);
  min-width: 0;
}
.text___4RZSw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-IIwFsCYY1IBc);
  min-width: 0;
}
.text__nNPn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ociTTSgV8xuN);
  min-width: 0;
}
.text__wr38S {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-q3OScHWd4jmY);
  min-width: 0;
}
.text__mDfBw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-cA1Wr5PqNFaf);
  min-width: 0;
}
.text__b0OL3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-JpPV7wJ8fVEu);
  min-width: 0;
}
.text__okT8N {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ppJ6GFeLTavH);
  min-width: 0;
}
.text___6Mugs {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-zseewpeMQNbh);
  min-width: 0;
}
.freeBox__xokno {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
}
.text___4CUew {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-uv8BicWmeLMq);
  min-width: 0;
}
.text__ulDZ {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-DvZ0rVOnNn5A);
  min-width: 0;
}
.text__iD7Hy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-79-xg_PWZNRm);
  min-width: 0;
}
.text__p8O1U {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-cNR-D2j51k1q);
  min-width: 0;
}
.text__gSfxR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-mMTrEo1LCUX9);
  min-width: 0;
}
.text__r61P {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-uBaWbNE8EOyq);
  min-width: 0;
}
.text__n8L5J {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-uBaWbNE8EOyq);
  min-width: 0;
}
.text__oGboi {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-FXKiWKhPVz7R);
  min-width: 0;
}
.text__agmO1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-1eB_YpJ0F4ph);
  min-width: 0;
}
.freeBox___8O6OA {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox___8O6OA > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox___8O6OA > :global(.__wab_flex-container) > *,
.freeBox___8O6OA > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8O6OA > :global(.__wab_flex-container) > picture > img,
.freeBox___8O6OA
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
.freeBox__tInZs {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__tInZs > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__tInZs > :global(.__wab_flex-container) > *,
.freeBox__tInZs > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__tInZs > :global(.__wab_flex-container) > picture > img,
.freeBox__tInZs
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___1SX1G {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-i1A8pvXvaMCZ);
  min-width: 0;
}
.text__oyId9 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-d9smXCDRWnmL);
  min-width: 0;
}
.text__spuk4 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-DVrm_PHLCd9Z);
  min-width: 0;
}
.text__nqhT7 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-YYaPxBFnPrMt);
  min-width: 0;
}
.text__vJOv6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-KiZk_wa0L5Hm);
  min-width: 0;
}
.text__gJmO8 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-AviJWO6yzQV5);
  min-width: 0;
}
.text__mCfy1 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-Gl0kvJfw1qBV);
  min-width: 0;
}
.text__sGtkQ {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-8_fpPlLEEFWR);
  min-width: 0;
}
.freeBox__oh06J {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__oh06J > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__oh06J > :global(.__wab_flex-container) > *,
.freeBox__oh06J > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oh06J > :global(.__wab_flex-container) > picture > img,
.freeBox__oh06J
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text___0PevA {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-KO5IRn-ulScA);
  min-width: 0;
}
.text__l5Nx0 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-lTsD1Bed3Eq2);
  min-width: 0;
}
.text__menOq {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-EwkVxWJA_hn-);
  min-width: 0;
}
.text___3BUgR {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-br-JcGP2bfg3);
  min-width: 0;
}
.text___7Xyjw {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-waJnTyOBheMW);
  min-width: 0;
}
.text__mlHb3 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-11zSXWulgPv2);
  min-width: 0;
}
.text__dKkGw {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-0tw00joc-zOm);
  min-width: 0;
}
.text__zP7Ig {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-T2sZrPNW1TxX);
  min-width: 0;
}
.freeBox__wm3Jk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__wm3Jk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__wm3Jk > :global(.__wab_flex-container) > *,
.freeBox__wm3Jk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__wm3Jk > :global(.__wab_flex-container) > picture > img,
.freeBox__wm3Jk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__waBZh {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-dMqbt1wiYG0z);
  min-width: 0;
}
.text__fp8Ow {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-kC9vkpBjeNNm);
  min-width: 0;
}
.text__eyNLk {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-KiqJieiPtU3p);
  min-width: 0;
}
.text__nLkea {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-qMgZG387WN1n);
  min-width: 0;
}
.text__iBfh6 {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-pdeRsXftv5o4);
  min-width: 0;
}
.text___1Jklm {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-ST1_z4jLZPXZ);
  min-width: 0;
}
.text___3C3Nt {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-atpb4S-9_Q9F);
  min-width: 0;
}
.text__bs0G {
  width: 100%;
  height: auto;
  max-width: 100%;
  color: var(--token-qUp5nSpI6n9g);
  min-width: 0;
}
