.listGroupBase {
  display: inline-flex;
  flex-direction: column;
  position: relative;
  justify-content: center;
  align-items: center;
  justify-self: flex-start;
  width: auto;
}
.listGroupGrid {
  display: grid;
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  top: auto;
  left: auto;
  grid-template-rows: auto auto;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-row-gap: var(--token-GO1UTCayvGBp);
  grid-column-gap: var(--token-GO1UTCayvGBp);
  grid-auto-rows: auto;
  grid-auto-columns: 1fr;
  min-width: 0;
  padding: 8px;
}
.listGroupGridcolumns__2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}
.listGroupGridcolumns__3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}
.listGroupGridcolumns__4 {
  grid-template-columns: repeat(4, minmax(0, 1fr));
}
.listGroupGridcolumns__6 {
  grid-template-columns: repeat(6, minmax(0, 1fr));
}
.listItemStack1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.listItemStack1removalOfItems__1 {
  display: none;
}
.listItem__eqalt:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__aXcAs {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__f6N3E {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-A25vIlshpF39);
  font-size: var(--token-kups2N1OaeRH);
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: var(--token-EQk_y8gQbUYP);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack2 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack2removalOfItems__2 {
  display: none;
}
.listItem___5Fu4F:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__k9Jr0 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__aKfZy {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-A25vIlshpF39);
  font-size: var(--token-kups2N1OaeRH);
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: var(--token-EQk_y8gQbUYP);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack3 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack3removalOfItems__3 {
  display: none;
}
.listItem__pFdSx:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hAg2T {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__xPxVk {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-A25vIlshpF39);
  font-size: var(--token-kups2N1OaeRH);
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: var(--token-EQk_y8gQbUYP);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack4 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack4removalOfItems__4 {
  display: none;
}
.listItem__vhGLd:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cuHst {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__iWnHz {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-A25vIlshpF39);
  font-size: var(--token-kups2N1OaeRH);
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: var(--token-EQk_y8gQbUYP);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack5removalOfItems__5 {
  display: none;
}
.listItem__icbQg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___8Ifpd {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___5BVao {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-A25vIlshpF39);
  font-size: var(--token-kups2N1OaeRH);
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: var(--token-EQk_y8gQbUYP);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack6 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack6removalOfItems__6 {
  display: none;
}
.listItem__r9XMg:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__prtZo {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__nveR {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  font-family: var(--token-A25vIlshpF39);
  font-size: var(--token-kups2N1OaeRH);
  font-weight: 400;
  font-style: normal;
  color: var(--token-O53E_jb-QUZX);
  text-align: left;
  text-transform: none;
  line-height: var(--token-EQk_y8gQbUYP);
  letter-spacing: normal;
  white-space: pre-wrap;
  user-select: text;
  text-decoration-line: none !important;
  text-overflow: clip !important;
  min-width: 0;
}
.listItemStack7 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack7removalOfItems__7 {
  display: none;
}
.listItem___6GAc9:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__hyPc {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__mgMtN {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  padding-left: 0px;
  min-width: 0;
}
.listItemStack8 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack8removalOfItems__8 {
  display: none;
}
.listItem__lw7WI:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___35Ka1 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__eeEju {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack9 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack9removalOfItems__9 {
  display: none;
}
.listItem__ew7G:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__mbct {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__rtflo {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack10 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack10removalOfItems__10 {
  display: none;
}
.listItem__uyQ32:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__cl6W8 {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__sKEaB {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack11 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack11removalOfItems__11 {
  display: none;
}
.listItem__sxQeG:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__e2NiP {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text__cXb3 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
.listItemStack12 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: auto;
  top: auto;
  min-width: 0;
  padding: 8px;
}
.listItemStack12removalOfItems__12 {
  display: none;
}
.listItem__jYvmq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__owCg {
  object-fit: cover;
  max-width: 100%;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
.text___42EjP {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
}
